$primary: #6b2881 !default;
$secondary: #5fd6bc !default;

$success: #00e676 !default;
$error: #f44336 !default;
$warning: #ffe57f !default;
$info: #2196f3 !default;

$lightTextPrimary: #37474f !default;
$lightTextSecondary: #607d8b !default;
$lightTextDisabled: #b0bec5 !default;

$darkTextPrimary: #ffffff !default;
$darkTextSecondary: #ffffff !default;
$darkTextDisabled: #f1f1f1 !default;

:export {
    primary: $primary;
    secondary: $secondary;

    success: $success;
    error: $error;
    warning: $warning;
    info: $info;

    // light
    lightBackground: #ffffff;
    lightPaper: #ffffff;

    lightTextPrimary: $lightTextPrimary;
    lightTextSecondary: $lightTextSecondary;
    lightTextDisabled: $lightTextDisabled;

    // dark
    darkPaper: #212121;
    darkBackground: #212121;

    darkTextPrimary: $darkTextPrimary;
    darkTextSecondary: $darkTextSecondary;
    darkTextDisabled: $darkTextDisabled;
}
